{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %} 
 
{% block container %}
<script>
function displayLoading(){
    $('html').load("./static/loadingmask/index.html");
    return true
}
</script>
<style type="text/css">
.class1{
background: #f8f9fa!important;
}.class2{
    background: white!important;
}
.bg {
    /* The image used */
    background-image: url('/static/images/testimg.jpg') !important;
    color: white;
    width:100%;
    height:100%;
    display:inline-block;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.trybtn{
        width:80px;
        height:40px;
        background: #F37649;
        color:white;
        border-radius: 25px;
      }

      .nav-link-tab{
          color:#F37649!important;
      }
      .nav-tabs{
          margin-bottom:20px;
      }

.portfolio-tester{
    background: white!important;

    margin-top: 30px!important;
}
.port-form{
    max-width: 750px;
    padding: 20px;
    margin-bottom: 30px !important;
    margin:0 auto;
    border: 1px solid black;
}
.bg2 {
    /* The image used */
    background-image: url('/static/images/testimg2.jpg') !important;
    color: white;
    width:100%;
    display:inline-block;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    /* The image used */
    background-image: url('/static/images/testimg3.jpg') !important;
    color: white;
    width:100%;
    display:inline-block;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg4 {
    /* The image used */
    background-image: url('/static/images/testimg4.jpg') !important;
    color: white;
    width:100%;
    display:inline-block;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-content-container{
padding: 20px;
/*
background: grey;
color:white;*/
background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1; /* Grey text */
height:100%;
width: 50%;
margin: 0 auto;
margin-top:50px;
margin-bottom: 50px;
}
.last-text{
    display: inline-flex;
}

.justify{
text-align: justify;
}
.joinlink{
    margin-left: 5px !important;

    margin-right: 5px !important;
}
#learnmore{
    display:flex;
}

.logoA{
    width: 175px;
    height: 175px;
}
.logoB{
    width:500px;
    height: 200px;
}
.section{
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px #6c757d9e;
    margin: 20px;
}
.footer{
    background: black;
    color: grey;
    height: 100%;
    min-height: 100px;
    padding:30px;
    text-align: center;
}
.joinlink:hover{
    color:#F37649;
}

#assetTable td{
    border: 1px solid #32383e !important;
	background-color:orange;
}
#assetTable th{
    border: 1px solid #32383e !important;
}
.col{
    margin:10px;
    padding:10px;
}
</style>
<div>
    <div class="bg2">
        <div class="about-content-container justify">
            <h4 class ="center">Start investing towards your goals!</h4>
            <p>Alpha Factory helps you build a diversified portfolio designed to meet your unique financial goals!</p>
            <p>To ensure our customers get highly diversified portfolios, we invest in aggregate asset classes. 
            To create portfolios that perform well in all financial environments, we decided to base our asset selection methodology on Bridgewater's all-weather framework.</p>
            <div class="center"><a href="#learnmore"><button style="border-radius: 20px;" class="btn basecolorbtn">Learn More</button></a></div>
        </div>
</div>
    
<div class="class2 center" style="margin-top:20px;">
        <div class="row" style="margin:0 auto; width: 80%;">
            <div class="col">
                <img src='./static/images/transparent.png' width="100" height='100'>
                <h4>Transparent</h4>
                <p>We understand the worry people have about investing. This is why we aim to reduce the stigma around investing by making it accessible and understandable for everyone. To do so, Alpha Factory is fully transparent with our holdings and performance.</p>
            </div>
            <div class="col">
                <img src='./static/images/question_images/Q6b.png' width="100" height='100'>
                <h4>Reliable</h4>
                <p>We understand the difficulty in coping with the loss of principal during any time period. As such, Alpha Factory is committed to building reliable portfolios that perform well in all financial environments.</p>
            </div>
            <div class="col">
                <img src='./static/images/question_images/Q12a.png' width="100" height='100'>
                <h4>Accessible</h4>
                <p>We understand the importance of money and the sensitivity of your financial goals. As such, Alpha Factory offers friendly 24-hour support and provides updates on your portfolio performance in real time.</p>
            </div>
        </div>
</div>
<div>
    <div class="bg3">
        <div class="about-content-container justify">
            <h4 class ="center">Portfolios as Unique as You!</h4>
            <p>To create a tailored portfolio for each investor, Alpha Factory considers the return goals and risk-tolerance of each of our investors.</p>
            <p>Everyone is different and has different investment goals. Often times investors do not even know what their investment goals are, and if they do, it’s hard to put them in numbers/words. Alpha Factory tries to help with that. Specifically, we try to match return goals to life goals by considering what our clients are saving for. As such our return goals are largely catered to the following broad categories of life goals:</p>
            <ul>
				<li><b>Short-term (~5 to 10 years):</b> saving to purchase a car/home</li>
				<li><b>Medium- term (~10 to 20 years):</b> creating an education fund for your children</li>
				<li><b>Long-term (20+ years):</b> saving for retirement </li>
			</ul>
			<p>Finally, our unique portfolio generation techniques depend on the risk-tolerance level of our investors. Rather than overfitting with a continuous spectrum of return goals and risk constraints, Alpha Factory created five distinct portfolios to accommodate the different risk-tolerance levels of our customers. We find this strategy better fits our mission as it helps lower fees.</p>
			<p>To determine the return goals and risk-tolerance of our investors we require them to fill out a quick questionnaire when joining our platform. Find your risk-tolerance level by joining us today!</p>
			<div class="center"><a href={{url_for('joinus')}}><button style="border-radius: 20px;" class="btn basecolorbtn">Join Us</button></a></div>
        </div>
</div>
<div id="learnmore" class="class2 center">
    <div class="section justify">
	<h4 class ="center">Asset Universe</h4>
	<p>To ensure our portfolios perform well in all financial environments, we decided to invest in the asset classes identified by Bridgewater Associates’ All-Weather Fund. To gain exposure to various asset classes, Alpha Factory invests in Exchange Traded Funds (ETFs). A fully diversified portfolio is crucial for building wealth and limiting risk and investing in ETFs allows us to gain this diversification at the lowest cost. Below are the ETFs we selected to represent each asset class.</p>
	<table class="left table-dark" id='assetTable'style="width:100%; margin: 0 auto;">
  <tr>
    <th>Asset Class</th>
    <th>ETF(s)</th> 
  </tr>
  <tr>
    <td>US Equities</td>
    <td>
	<p>MTUM - iShares Edge MSCI USA Momentum Factor ETF</p>
	<p>VLUE - iShares Edge MSCI USA Value Factor ETF</p>
	<p>QUAL - iShares Edge MSCI USA Quality Factor ETF</p>
	<p>SIZE - iShares Edge MSCI USA Size Factor ETF</p>
	<p>USMV - iShares Edge MSCI Min Vol USA ETF</p>
	</td> 
  </tr>
  <tr>
    <td>Developed Market Equities (ex-US)</td>
    <td>
	<p>IVLU - iShares Edge MSCI Intl Value Factor ETF</p>
	<p>IMTM - iShares Edge MSCI Intl Momentum Factor ETF</p>
	<p>IQLT - iShares Edge MSCI Intl Quality Factor ETF</p>
	</td> 
  </tr>
  <tr>
    <td>Emerging Market Equities</td>
    <td>EMGF - iShares Edge MSCI Multifactor Emerging Markets ETF</td> 
  </tr>
  <tr>
    <td>Global Equities (ex-US)</td>
    <td>ACWV - iShares Edge MSCI Min Vol Global ETF</td> 
  </tr>  
  <tr>
    <td>Long Duration US Bonds</td>
    <td>SPTL - SPDR Portfolio Long Term Treasury ETF</td> 
  </tr>  
  <tr>
    <td>US Intermediate Bonds</td>
    <td>AGG - iShares Core U.S. Aggregate Bond ETF</td> 
  </tr> 
  <tr>
    <td>Emerging Market Bonds</td>
    <td>EMB - iShares J.P. Morgan USD Emerging Markets Bond ETF</td> 
  </tr>
  <tr>
    <td>Inflation-Protected Bonds</td>
    <td>TIP - iShares TIPS Bond ETF</td> 
  </tr>
  <tr>
    <td>Money Market (Short Term Bonds)</td>
    <td>SHV - iShares Short Treasury Bond ETF</td> 
  </tr>
  <tr>
    <td>High Yield Bonds</td>
    <td>HYG - iShares iBoxx $ High Yield Corporate Bond ETF</td> 
  </tr>
  <tr>
    <td>US Real Estate</td>
    <td>SCHH - Schwab U.S. REIT ETF</td> 
  </tr>
  <tr>
    <td>Commodities</td>
    <td>DBC - Invesco DB Commodity Tracking Fund</td> 
  </tr>
  <tr>
    <td>Gold</td>
    <td>GLD - SPDR Gold Shares ETF</td> 
  </tr>
</table>
	</div>

    <div class="section justify">
	<h4 class ="center">Investment Strategy</h4>
	<p>Inspired by the success of proven asset managers such as Bridgewater Associates and AQR Investments, Alpha Factory uses a Risk Parity portfolio generation strategy.  </p>
	<p>Risk Parity portfolios rely on risk-based diversification to generate higher and more consistent returns. Since Risk Parity portfolios begin with lower exposure to equities relative to traditional portfolios, the risk of the portfolio is spread more evenly across other asset classes. With Alpha Factory striving to create portfolios that perform well in all financial environments the Risk Parity approach is critical. In general, equities do well in high-growth and low-inflation environments; bonds do well in deflationary or recessionary environments; and commodities tend to perform best during inflationary environments, so having balanced exposure to these three main asset classes allows us to produce more consistent returns over time. </p>
	<p>As an added measure for downside risk protection, Alpha Factory overlays a trend following system onto all their portfolios. This strategy has been proven to reduce major portfolio drawdowns and improve the long-term portfolio performance.  </p>
	</div>
</div>

<div  class="bg">
        <div class="about-content-container justify">
            <h4 class ="center">Our Mission</h4>
			<p>Alpha Factory aims to reduce the stigma around investing and make it accessible to everyone. Ultimately, Alpha Factory aims to close the world’s investment gap by making investing part of everyday life!</p>
            <p>Alpha Factory aims to use our platform and proprietary portfolio generation techniques to help the average person manage their own investments. Specifically, we aim to get to know you through our quick questionnaire, so we can create a personalized and diversified portfolio of assets at a risk tolerance you are comfortable with while meeting your long-term investment goals. From there, we manage your money for you – this includes automatically rebalancing your portfolio to account for any market fluctuations and reinvesting your investment proceeds to ensure that your money doesn’t take any breaks while working for you. We also understand that investment goals change over time and we offer dynamic portfolio modifications to address your evolving user preferences and inputs.</p>
			<!-- <div><p>Don't delay,</p><a href={{url_for('joinus')}}><button class="btn btnprimary trybtn">Join Us</button></a><p>today!</p></div>
            -->
            {% if session['logged_in'] == None and session['name']== None%}
            <div class="last-text"><p>Don't delay, </p> <a href={{url_for('joinus')}} class="basecolortext joinlink"><u>join us</u></a> <p> today!</p>
                {%endif%}
            </div>
        </div>
    </div>
    {% if session['logged_in'] == None and session['name']== None%}
    <div class="portfolio-tester">
            {% block content %}
            {% if success %}
            <div id="methodResults">
                    {% include 'chart.html'%}
            </div>
        {% else %}
        <p class="center">Test your current portfolio performance and how it compares against our world-class robo-advisor.</p>
    <div class="port-form">
        <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link nav-link-tab active" data-toggle="tab" href="#simple">Simple</a></li>
        <li class="nav-item"><a class="nav-link nav-link-tab" data-toggle="tab" href="#detailed">Detailed</a></li>
        </ul>
        <div class="tab-content">
        <div id="simple" class="tab-pane fade show active">
            <form action={{ url_for('about') }} onsubmit="displayLoading()" method="POST">
                {{wtf.quick_form(form,button_map={'submit':"primary trybtn"})}}
            </form>
        </div>
        <div id="detailed" class="tab-pane fade">
                <form action={{ url_for('detailedAbout') }} onsubmit="displayLoading()" method="POST">
                        {% if error %}
                        <p class="flash">{{ error }}</p>
                      {% endif %}
                      <label >US Equities</label>
                      <div class="row">
                        <div class="col">
                            <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="MTUM" placeholder="MTUM">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="VLUE" placeholder="VLUE">
                        </div>
                        <div class="col">
                                <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="QUAL" placeholder="QUAL">
                        </div>
                        <div class="col">
                                <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="SIZE" placeholder="SIZE">
                        </div>
                        <div class="col">
                                <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="USMV" placeholder="USMV">
                        </div>
                    </div>
                    <label>Developed and Emerging Markets (ex-US)</label>
                    <div class="row">
                            <div class="col">
                                    <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="IVLU" placeholder="IVLU">
                            </div>
                            <div class="col">
                                    <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="IMTM" placeholder="IMTM">
                            </div>
                            <div class="col">
                                    <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="IQLT" placeholder="IQLT">
                            </div>
                            <div class="col">
                                    <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="EMGF" placeholder="EMGF">
                            </div>
                            <div class="col">
                                    <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="ACWV" placeholder="ACWV">
                            </div>
                        </div>
                        <label >Fixed Income</label>
                        <div class="row">
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="SPTL" placeholder="SPTL">
                                </div>
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="AGG" placeholder="AGG">
                                </div>
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="EMB" placeholder="EMB">
                                </div>
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="TIP" placeholder="TIP">
                                </div>
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="SHV" placeholder="SHV">
                                </div>
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="HYG" placeholder="HYG">
                                    </div>
                            </div>
                        <label >Real Estate</label>
                        <div class="row">
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="SCHH" placeholder="SCHH">
                                </div>
                            </div>
                        <label >Commodities</label>
                        <div class="row">
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="DBC" placeholder="DBC">
                                </div>
                            </div>
                        <label >Gold</label>
                        <div class="row">
                                <div class="col">
                                        <input type="number" class="form-control" min="0" max ="1000000" step="0.01" name="GLD" placeholder="GLD">
                                </div>
                            </div>
                    
                          <button type="submit" class="btn basecolorbtn">Enter</button>
                </form>
        </div>

    </div>

        
    </div>
        {% endif %}
        {% endblock %}
    {% endif %}
    <div class="footer">
        <p>Still have questions? <a class='joinlink basecolortext' href={{url_for('contactus')}}>Contact Us</a> </p>
        <!--
        <p>Product of MIE 479 Capstone Project</p>
        <p>Stefan Momic, Amr Mahmoud, Ameer Shaikh, Daniel Kecman</p>
        -->
    </div>
    {%if error_occured or error%}
<script>
    $([document.documentElement, document.body]).animate({
        scrollTop: $(".port-form").offset().top-91
    }, 200);

{%if error%}
$(document).ready(function(){
    activateTab('detailed');
  });
  function activateTab(tab){
    $('.nav-tabs a[href="#' + tab + '"]').tab('show');
  };
{%endif%}
</script>
{%endif%}
{% endblock %}