{% extends 'base.html' %}
 
{% block container %}
<style>
.option-block{
    padding: 10px;
    max-width:250px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
    color:black;
    background: white;

}
.inverted{
    -webkit-filter: invert(1);
   filter: invert(1);
}
.alternatives{
    display:flex;
    padding: 10px;
    min-width: 700px;
}
.option-block:hover{
    cursor:pointer;
}
.selected{
background-color: #F37649;
color: white;
/* width:110%;
height:110%;
flex:0 0 auto;
margin:20px; */
}
</style>
<div class="result-container">
    <h1 class="center" style="margin-top:20px;">How can we help you today?</h1>

    <div class='alternatives'>
        <div class='option-block' name="CP">
            <img src='/static/images/riskchange.png' width="100px" height="100px">
            <h4>Change your portfolio</h4>
        </div>
        <div class='option-block' name="CR">
                <img src='/static/images/changeprof.png' width="100px" height="100px">

                <h4>Feel like your risk tolerance has changed?</h4>
                <h4>Retake our questionnaire</h4>
            </div>
            <div class='option-block' name="CA">
            <img src='/static/images/consultant.png' width="100px" height="100px">

                    <h4>Schedule a meeting with an advisor</h4>
                </div>
    </div>
    
    <div class="btncontainer center">
        <button class="btn basecolorbtn" id='continueBtn' style='margin-top: 10px;'>Continue</button>
    </div>
   
</div>
<script>
var selection=''

$('.option-block').click(function(){
    $(".option-block").removeClass('selected');
    $('img').removeClass('inverted')
    selection =$(this).attr('name')
    $(this).addClass('selected')
    $(this).children()[0].classList.add('inverted')
});
$('#continueBtn').click(function(){
    if(selection ==''){
        alert('Please select an option to continue.')
    }else{
        if(selection=='CA'){
            $('html').load("./static/loadingmask/index3.html");

        }
    $.ajax({
        type: "POST",
        contentType: "application/json;charset=utf-8",
        url: "/advisor_options",
        traditional: "true",
        data: JSON.stringify({selection}),
        dataType: "json",
        success: function(result){
            // console.log(result)
            window.location.href = window.location.origin +"/"+result.path;
        }
    });
    }
});
</script>
{% endblock %}