{% extends 'base.html' %}
 
{% block container %}

<html>
    <style>
    </style>
    <script>
      
        function validateForm(){
            if (parseInt(document.forms["advisorForm"]["goal"].value)<= parseInt(document.forms["advisorForm"]["initial"].value)){
                alert('You cannot have a financial goal less than your initial capital.')
                return false;
            }
            if (parseInt(document.forms["advisorForm"]["goal"].value)> parseInt(document.forms["advisorForm"]["initial"]).value*Math.pow(1.15,parseInt(document.forms["advisorForm"]["horizon"].value))){
                alert('Your financial goal is infeasible with the inputed time horizon and initial capital.\nEither increase your initial capital or increase your time horizon in order to continue.')
                return false;
            }
        }
    </script>
     
  <body>
        <h1 class="center title">Portfolio Generator</h1>
    <div class="container advisor-container">
        <h5 class='center'>Tell us what your financial goals are and we will custom tailor a portfolio to fit your needs!</h5>
      <form name='advisorForm' action="{{ url_for('advisor') }}" method="POST">
          {% if error %}
          <p class="flash">{{ error }}</p>
        {% endif %}
            <div class="form-group">
              <label for="initial">Initial investment</label>
              <input type="number" name="initial" min=0 step='0.01' class="form-control" id="initial" placeholder="Enter initial capital" required>
            </div>
            <label for='options'>What are you saving towards?</label>
            <div id='options' name='options' class='alternatives'>
                    <div class='option-block' name="car">
                        <img src='/static/images/car2.png' width="75px" height="75px">
                        <p>Car</p>
                    </div>
                    <div class='option-block selected' name="house">
                            <img class='inverted'src='/static/images/house.png' width="75px" height="75px">
            
                            <p>House</p>
                        </div>
                        <div class='option-block' name="retirement">
                        <img src='/static/images/retirement.png' width="75px" height="75px">
                            <p>Retirement</p>
                        </div>
                </div>
            <div class="form-group">
                <label for="horizon">Time Horizon</label>
                <input type="range" name="horizon" min=1 max=30 class="form-control" id="horizon"> <p id ="horizonoutput"></p>
            </div>
            <div class="center">
                <button type="submit" class="btn basecolorbtn">Continue</button>
            </div>
        </form>
  
    </div>
    </body>
  
</html>
<style>

.option-block{
    padding: 10px;
    max-width:110px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:10px;
    color:black;
    background: white;

}
.inverted{
    -webkit-filter: invert(1);
   filter: invert(1);
}
.alternatives{
    display:flex;
    padding: 10px;
    min-width: 500px;
}
.option-block:hover{
    cursor:pointer;
}
.selected{
background-color: #F37649;
color: white;
/* width:110%;
height:110%;
flex:0 0 auto;
margin:20px; */
}
</style>
<script>
var slider = document.getElementById("horizon");
var output = document.getElementById("horizonoutput");
// output.innerHTML = slider.value+' years'; // Display the default slider value
$('.option-block').click(function(){
    $(".option-block").removeClass('selected');
    $('img').removeClass('inverted')
    $(this).addClass('selected')
    if ($(this).attr('name')=='car'){
        $('#horizon').prop({
            'min': 5,
            'max': 15
        });
        slider.value=10;
        
    }
    if ($(this).attr('name')=='house'){
        $('#horizon').prop({
            'min': 10,
            'max': 20
        });
        slider.value=15;
    }
    if ($(this).attr('name')=='retirement'){
        $('#horizon').prop({
            'min': 15,
            'max': 40
        });
       slider.value=15;
    }
    output.innerHTML = slider.value+' years';
    $(this).children()[0].classList.add('inverted')
});
// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value+' years';
}
</script>
<style type="text/css">
    .advisor-container{
        border:1px solid black;
        padding: 15px !important;
        border-radius: 5px;
        width: 80%;
    }
    </style>
{% endblock %}