{% extends 'base.html' %}
 
{% block container %}

<html>
    <script>
        function validateForm(){
            if (parseInt(document.forms["advisorForm"]["goal"].value)<= parseInt(document.forms["advisorForm"]["initial"].value)){
                alert('You cannot have a financial goal less than your initial capital.')
                return false;
            }
            if (parseInt(document.forms["advisorForm"]["goal"].value)> parseInt(document.forms["advisorForm"]["initial"]).value*Math.pow(1.15,parseInt(document.forms["advisorForm"]["horizon"].value))){
                alert('Your financial goal is infeasible with the inputed time horizon and initial capital.\nEither increase your initial capital or increase your time horizon in order to continue.')
                return false;
            }
        }
    </script>
     
  <body>
        <h1 class="center title">Portfolio Advisor</h1>
    <div class="container advisor-container">
        <h5 class='center'>Tell us what your financial goals are and we will custom tailor a portfolio to fit your needs!</h5>
      <form name='advisorForm' action="{{ url_for('advisor') }}" onsubmit = "return validateForm()" method="POST">
          {% if error %}
          <p class="flash">{{ error }}</p>
        {% endif %}
            <div class="form-group">
              <label for="initial">Initial investment</label>
              <input type="number" name="initial" min=0 step='0.01' class="form-control" id="initial" placeholder="Enter initial capital" required>
            </div>
            <div class="form-group">
                <label for="goal">Financial goal</label>
                <input type="number" name="goal" min=0 step='0.01' class="form-control" id="goal" placeholder="Enter your financial goal" required>
            </div>
            <div class="form-group">
                <label for="horizon">Time Horizon</label>
                <input type="range" name="horizon" min=1 max=30 class="form-control" id="horizon"> <p id ="horizonoutput"></p>
            </div>
            <div class="center">
                <button type="submit" class="btn basecolorbtn">Continue</button>
            </div>
        </form>
  
    </div>
    </body>
  
</html>
<script>
var slider = document.getElementById("horizon");
var output = document.getElementById("horizonoutput");
output.innerHTML = slider.value+' years'; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value+' years';
}
</script>
<style type="text/css">
    .advisor-container{
        border:1px solid black;
        padding: 15px !important;
        border-radius: 5px;
        width: 80%;
    }
    </style>
{% endblock %}