{% extends 'base.html' %}
 
{% block container %}
<html>
     
  <body>
        <h1 class="center title">Change Password</h1>
    <div class="container pass-container">
      <br>
      <form action="{{ url_for('change_password') }}" method="POST">
          {% if error %}
          <p class="flash">{{ error }}</p>
        {% endif %}
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Old Password">
              <a href={{url_for('forgotpass')}} ><small style="margin:5px;" id="forgotPassword" class="form-text text-muted">
                  <u>Forgot Password?</u>
              </small></a>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="New Password">
              </div><div class="form-group">
                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Retype Password">
              </div>
            <button type="submit" class="btn basecolorbtn">Confirm</button>
          </form>
    </div>
    </body>
  
</html>
<style type="text/css">
    .pass-container{
        border:1px solid black;
        padding: 15px !important;
        border-radius: 5px;
        width: 80%;
    }
    </style>
{% endblock %}