{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %} 


{% block container %}
<style>
.contactus-container{
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
}
</style>

<h1 class="center title">Contact Us</h1>
<div class="container contactus-container">
{% if success %}
<p class="center">Thank you for your message. </p>
  <p class="center">Please be patient and a member of our team will reach out to you shortly.</p>
<div class="btncontainer center">
    <a href={{url_for('home')}}><button class="btn basecolorbtn" style='margin-top: 10px;' >Return Home</button>
    </a>
    </div>
{% else %}
  <form action="{{ url_for('contactus') }}" method="POST">
    {{wtf.quick_form(form,button_map={'submit':"primary"})}}
  </form>
  </div>
  {% endif %}
{% endblock %}