{% extends 'base.html' %}
 
{% block container %}
<style type="text/css">
.class1{
height:500px;
background: #f8f9fa!important;
}.class2{
    height: 500px;
    background: white!important;
}
</style>

<h1 class="title center">About Us</h1>
<div>
    <div class="class1 center">
        <p> Content goes here</p>
    </div>
    <div class="class2 center">
       <p> Content goes here</p>
    </div>
    <div class="class1 center">
        <p> Content goes here</p>
    </div>
    <div class="class2 center">
       <p> Content goes here</p>
    </div>
</div>
{% endblock %}