{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %} 
 
{% block container %}
<style type="text/css">
.class1{
background: #f8f9fa!important;
}.class2{
    background: white!important;
}
.bg {
    /* The image used */
    background-image: url('/static/images/testimg.jpg') !important;
    color: white;
    width:100%;
    height:100%;
    display:inline-block;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.trybtn{
        width:80px;
        height:40px;
        background: #F37649;
        color:white;
        border-radius: 25px;
      }

      .nav-link-tab{
          color:#F37649!important;
      }
      .nav-tabs{
          margin-bottom:20px;
      }

.portfolio-tester{
    background: white!important;

    margin-top: 30px!important;
}
.port-form{
    max-width: 750px;
    padding: 20px;
    margin-bottom: 30px !important;
    margin:0 auto;
    border: 1px solid black;
}
.bg2 {
    /* The image used */
    background-image: url('/static/images/testimg2.jpg') !important;
    color: white;
    width:100%;
    display:inline-block;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-content-container{
padding: 20px;
/*
background: grey;
color:white;*/
background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1; /* Grey text */
height:100%;
width: 50%;
margin: 0 auto;
margin-top:50px;
margin-bottom: 50px;
}
.last-text{
    display: inline-flex;
}

.justify{
text-align: justify;
}
.joinlink{
    margin-left: 5px !important;

    margin-right: 5px !important;
}
#learnmore{
    display:flex;
}

.logoA{
    width: 175px;
    height: 175px;
}
.logoB{
    width:500px;
    height: 200px;
}
.section{
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px #6c757d9e;
    margin: 20px;
}
.footer{
    background: black;
    color: grey;
    height: 100%;
    min-height: 100px;
    padding:30px;
    text-align: center;
}
.joinlink:hover{
    color:#F37649;
}

#assetTable td{
    border: 1px solid #32383e !important;
}
#assetTable th{
    border: 1px solid #32383e !important;
}
</style>
<div>
    <div class="bg2">
        <div class="about-content-container justify">
            <h4 class ="center">Start investing towards your goals!</h4>
            <p>Alpha Factory helps you build a diversified portfolio designed to meet your unique financial goals!</p>
            <p>To ensure our customers get highly diversified portfolios, we invest in aggregate asset classes. 
            To create portfolios that perform well in all financial environments, we decided to base our asset selection methodology on Bridgewater's all-weather framework.</p>
            <div class="center"><a href="#learnmore"><button style="border-radius: 20px;" class="btn basecolorbtn">Learn More</button></a></div>
        </div>
</div>
    
</div>
   
<div id="learnmore" class="class2 center">
    <div class="section justify">
	<h4 class ="center">Asset Universe</h4>
	<p>To gain exposure to various asset classes, Alpha Factory invests in Exchange Traded Funds (ETFs). A fully diversified portfolio is crucial for building wealth and limiting risk and investing in ETFs allows us to gain this diversification at the lowest cost. Below are the ETFs we selected to represent each asset class.</p>
	<table class="center table-dark" id='assetTable'style="width:80%; margin: 0 auto;">
  <tr>
    <th>Asset Class</th>
    <th>ETF(s)</th> 
  </tr>
  <tr>
    <td>Developed Market Equities</td>
    <td>
	<p>SPY - SPDR S&P 500 ETF</p>
	<p>EFA - iShares MSCI EAFE ETF</p>
	</td> 
  </tr>
  <tr>
    <td>Emerging Market Equities</td>
    <td>EEM - iShares MSCI Emerging Markets ETF</td> 
  </tr>
  <tr>
    <td>Developed Real Estate</td>
    <td>VNQ - Vanguard Real Estate ETF</td> 
  </tr>  
  <tr>
    <td>Long Duration US Bonds</td>
    <td>TLT - iShares 20+ Year Treasury Bond ETF</td> 
  </tr>  
  <tr>
    <td>US Intermediate Bonds</td>
    <td>AGG - iShares Core U.S. Aggregate Bond ETF</td> 
  </tr> 
  <tr>
    <td>International Developed Market Bonds</td>
    <td>BWX - SPDR Bloomberg Barclays International Treasury Bond ETF</td> 
  </tr> 
  <tr>
    <td>Emerging Market Bonds</td>
    <td>EMB - iShares J.P. Morgan USD Emerging Markets Bond ETF</td> 
  </tr>
  <tr>
    <td>Inflation-Protected Bonds</td>
    <td>TIP - iShares TIPS Bond ETF</td> 
  </tr>
  <tr>
    <td>Municipal Bonds</td>
    <td>MUB - iShares National Muni Bond ETF</td> 
  </tr>
  <tr>
    <td>Money Market (Short Term Bonds)</td>
    <td>SHV - iShares Short Treasury Bond ETF</td> 
  </tr>
  <tr>
    <td>Commodities</td>
    <td>DBC - Invesco DB Commodity Tracking Fund</td> 
  </tr>
  <tr>
    <td>Gold</td>
    <td>GLD - SPDR Gold Shares ETF</td> 
  </tr>
</table>
	</div>

    <div class="section justify">
	<h4 class ="center">Investment Strategy</h4>
	<p>To generate customized portfolios, Alpha Factory uses a Robust Risk Parity technique….</p>
	</div>
</div>

<div  class="bg">
        <div class="about-content-container justify">
            <h4 class ="center">Our Mission</h4>
			<p>Alpha Factory aims to reduce the stigma around investing and make it accessible to everyone. Ultimately, Alpha Factory aims to close the world’s investment gap by making investing part of everyday life!</p>
            <p>Alpha Factory aims to use our platform and proprietary portfolio generation techniques to help the average person manage their own investments. Specifically, we aim to get to know you through our quick questionnaire, so we can create a personalized and diversified portfolio of assets at a risk tolerance you are comfortable with while meeting your long-term investment goals. From there, we manage your money for you – this includes automatically rebalancing your portfolio to account for any market fluctuations and reinvesting your investment proceeds to ensure that your money doesn’t take any breaks while working for you. We also understand that investment goals change over time and we offer dynamic portfolio modifications to address your evolving user preferences and inputs.</p>
			<!-- <div><p>Don't delay,</p><a href={{url_for('joinus')}}><button class="btn btnprimary trybtn">Join Us</button></a><p>today!</p></div>
            -->
            <div class="last-text"><p>Don't delay, </p> <a href={{url_for('joinus')}} class="basecolortext joinlink"><u>join us</u></a> <p> today!</p>
            </div>
        </div>
    </div>
    {% if session['logged_in'] == None and session['name']== None%}
    <div class="portfolio-tester">
            {% block content %}
            {% if success %}
            <div id="methodResults">
                    {% include 'chart.html'%}
            </div>
        {% else %}
        <p class="center">Test your current portfolio performance and how it compares against our world-class robo-advisor.</p>
    <div class="port-form">
        <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link nav-link-tab active" data-toggle="tab" href="#simple">Simple</a></li>
        <li class="nav-item"><a class="nav-link nav-link-tab" data-toggle="tab" href="#detailed">Detailed</a></li>
        </ul>
        <div class="tab-content">
        <div id="simple" class="tab-pane fade show active">
                <form action={{ url_for('about') }} method="POST">
                        {{wtf.quick_form(form,button_map={'submit':"primary trybtn"})}}
                    </form>
        </div>
        <div id="detailed" class="tab-pane fade">
                <form action={{ url_for('detailedAbout') }} method="POST">
                        {{wtf.quick_form(detailedForm,button_map={'submit':"primary trybtn"})}}
                    </form>
        </div>

    </div>

        
    </div>
        {% endif %}
        {% endblock %}
    {% else %}
    <div class="class2 center">
            <p> Content goes here</p>
         </div>
    {% endif %}
    <div class="footer">
        <p>Still have questions? <a class='joinlink basecolortext' href={{url_for('contactus')}}>Contact Us</a> </p>
        <!--
        <p>Product of MIE 479 Capstone Project</p>
        <p>Stefan Momic, Amr Mahmoud, Ameer Shaikh, Daniel Kecman</p>
        -->
    </div>
{% endblock %}