

{% block container %} 
<style>
.chart{
    width:70%!important;
    height:100% !important;
    padding: 20px;
}
.portfolio-stats{
    margin-left:10px;
    padding: 20px;
}
.info{
    display:flex;
}
.btncontainer{
    text-align: center;
}
.bb{
    margin: 5px;
    color:#F37649;
    border: #F37649 1px thin;
    border-radius: 5px;
}
.selected{
        background: #F37649;
        color:white;
}
.trybtn{
        width:80px;
        height:40px;
        background: #F37649;
        color:white;
        border-radius: 25px;
      }

</style>
 <!-- import plugin script -->   <script src='static/Chart.min.js'></script> 

<div class="btncontainer"><button class="btn1 bb">3 Year</button><button class="btn2 selected bb">5 Year</button><button class="bb btn3">10 Year</button></div>
    <!-- bar chart canvas element -->
    <div class="info">
<canvas id="chart" class="chart"></canvas>
<div class="portfolio-stats">
    <h5>Portfolio Performance</h5>
    <table class="table">
        <thead class="center">
            <tr>
                <th scope="col">Performance</th>
                <th scope="col">Your Portfolio</th>
                <th scope="col">Our Portfolio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Return</td>
                <td class="center">15%</td>
                <td class="center">25%</td>
            </tr>
            <tr>
                <td>Alpha</td>
                <td class="center">8%</td>
                <td class="center">18%</td>
            </tr>
            <tr>
                <td>Sharpe Ratio</td>
                <td class="center">1.13</td>
                <td class="center">2.91</td>
            </tr>
            <tr>
                <td>Volatility (Risk)</td>
                <td class="center">25%</td>
                <td class="center">15%</td>
            </tr>
        </tbody>
    </table>
    <div class='center'>
    <p style="font-weight:bold;">Like what you see?</p>
    <p>Our portfolio can be your portfolio too.</p>
    <a href={{url_for('joinus')}}><button class="btn btnprimary trybtn">Join Us</button></a>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src='./static/Chart.min.js' ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"  ></script>

 <script defer>
     const ctx = document.getElementById('chart').getContext('2d');
     //console.log(new Date('2018-11-02'))
     var d1 = {{tvalues | tojson}}
     var d2 = {{ovalues | tojson}}
const data = {
    // Labels should be Date objects
  //  labels: [new Date(2017, 08, 16), new Date(2017, 08, 17), new Date(2017, 08, 18)],
    labels : {{labels | tojson}},
    datasets: [{
        fill: false,
        label: 'Your Portfolio',
        data: d1,
        borderColor: '#fe8b36',
        backgroundColor: '#fe8b36',
        lineTension: 0
    },{   fill: false,
        label: 'Our Portfolio',
        data: d2,
        borderColor: 'red',
        backgroundColor: 'red',
        lineTension: 0
        }]
}
const options = {
    type: 'line',
    data: data,
    options: {
        elements: { point: { radius: 0 } },
        fill: false,
        responsive: true,
        scales: {
            xAxes: [{
                type: 'time',
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Date",
                }
            }],
            yAxes: [{
                ticks: {
                    suggestedMin: {{tvalues[0]}}
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Value",
                }
            }]
        }
    }
}
const chart = new Chart(ctx, options);
$([document.documentElement, document.body]).animate({
        scrollTop: $(".portfolio-tester").offset().top-111
    }, 200);
    </script>
{% endblock %}
