{% extends 'base.html' %}
 
{% block container %}
<style>
    .container{
        max-width: 90%;
    }
    label{
        padding: 10px;
        width: 200px;
        height: 200px;
        vertical-align: top;
        text-align: center;
        word-break: break-word;
        border: 1px solid black;
        border-radius: 5px;
    }
    figcaption{
        width: 90%;
        margin-left: 5%;
    }
    test{
        background: red;
    }
    label > div > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
      }
      label > div > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
      }
      label > div  > input:checked + figure { /* (RADIO CHECKED) IMAGE STYLES */
        border:2px solid #f00;
      }
      figure > div > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
      }

      </style>
<div class="container center">
    <h2 class="title center">Questions</h2>
    {% for question in questions%}
    <div class="question">
   <label>
       <div class="test">
        <input type="radio" class="option" name={{question.qid}} value="0" />
        <figure>
            <img src="./static/images/logo" width="100px" height="100px">
            <figcaption>{{question.optiona}}</figcaption>
        </figure>
        </div>
    </label>
    <label>
        <div class="test">
        <input type="radio" class="option" name={{question.qid}} value="1" />
        <figure>
        <img src="./static/images/logo" width="100px" height="100px">
        <figcaption>{{question.optionb}}</figcaption>
        </figure>
        </div>
    </label>
    </div>
    {% endfor %}
    <div class="btncontainer center">
        <button class="btn basecolorbtn" id="prev">Previous</button>
    </div>
</div>
<script>
var answers = {}
$('.option').change(function(){
    var answer = ($(this).attr('value'))
    var question = ($(this).attr('name'))
    answers[question] = answer
})

function sum_values(){
var sum = 0;
for (question in answers){
    sum += parseInt(answers[question])
}
return sum
}
    //Store the total number of questions
var totalQuestions = $('.question').size();

//Set the current question to display to 1
var currentQuestion = 0;

//Store the selector in a variable.
//It is good practice to prefix jQuery selector variables with a $
$questions = $('.question');

//Hide all the questions
$questions.hide();

//Show the first question
$($questions.get(currentQuestion)).fadeIn();

//attach a click listener to the HTML element with the id of 'next'
$('.option').click(function () {
    if(currentQuestion<totalQuestions){
     $($questions.get(currentQuestion)).fadeOut(function () {

        //increment the current question by one
        currentQuestion = currentQuestion + 1;

        //if there are no more questions do stuff
        if (currentQuestion == totalQuestions) {
        console.log(answers)
        var risk = sum_values()
        $.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/check_questions",
          traditional: "true",
          data: JSON.stringify({risk}),
          dataType: "json"
          });

        } else {
            $($questions.get(currentQuestion)).fadeIn();
        }
    });
    }
   

});
$('#prev').click(function () {
if(currentQuestion>0){
$($questions.get(currentQuestion)).fadeOut(function () {

   currentQuestion = currentQuestion - 1;
    $($questions.get(currentQuestion)).fadeIn();

});
}

});
</script>
{% endblock %}