* {
  margin: 0;
  padding: 0;
}

.loadingMask {
  width: 150px;
  top: 35%;
  left: 44%;
  position: fixed;
  display: block;
  z-index: 1000;

}

.loadingMaskContainer {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  background-color: rgba(150, 150, 150, 0.25);
}

.loadingMaskText {
  width: 150px;
  top: 55%;
  left: 44%;
  position: fixed;
  display: block;
  z-index: 1000;
  font-family: monospace;
  font-weight: bold;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}